

html { background-image:url(../images/metalwp3.jpg);background-size:contain }

main {background:linear-gradient(to right, 	#C0C0C0, #D3D3D3); width:955px; border:1px solid #ddd;margin:-1px auto 10px; border:1px solid #ddd; font-family: arial, sans-serif; padding: 25px;
}

nav ul li a:hover { background: linear-gradient(#C0C0C0, #D3D3D3)}
nav li {color: #D1D1D1; text-shadow: 1px 1px #F8F8FF, -1px -1px #333; text-transform: uppercase; font-weight: bold}
article p,h1,h2,h3,h4,h5,h6 {color: #D1D1D1; text-shadow: 1px 1px #F8F8FF, -1px -1px #333; text-transform: uppercase; font-weight: bold}
footer p {color: #D1D1D1; text-shadow: 1px 1px #F8F8FF, -1px -1px #333; text-transform: uppercase; font-weight: bold}
 {color: #D1D1D1; text-shadow: 1px 1px #F8F8FF, -1px -1px #333; text-transform: uppercase; font-weight: bold}
.link{color: #D1D1D1; text-shadow: 1px 1px #F8F8FF, -1px -1px #333; text-transform: uppercase; font-weight: bold; text-decoration: underline }
article ul li {color: #D1D1D1; text-shadow: 1px 1px #F8F8FF, -1px -1px #333; text-transform: uppercase; font-weight: bold}
article ol li {color: #D1D1D1; text-shadow: 1px 1px #F8F8FF, -1px -1px #333; text-transform: uppercase; font-weight: bold}
.failproof {color: #D1D1D1; text-shadow: 1px 1px #F8F8FF, -1px -1px #333; text-transform: uppercase; font-weight: bold}

article p {margin-bottom: 25px}

article img {border: 2px solid; border-color: slategrey; padding: 1px}

#relogio p {color: #D1D1D1; text-shadow: 1px 1px #F8F8FF, -1px -1px #333; text-transform: uppercase; font-weight: bold}