

html { background-image:url(../images/pixelwp1.jpg);background-size:cover}

main {background:transparent); width:955px;margin:-1px auto 10px; font-family: 'Press Start 2P' , cursive; padding: 25px;font-size: 0.75em
}

nav {width: 955px; background-color:darkslategrey; border: 5px solid gold; padding: 20px}

article {width: 955px; background-color:darkslategrey; border: 5px solid gold; padding: 20px}

footer {width: 955px; background-color:darkslategrey; border: 5px solid gold; padding: 20px}

article p {margin-bottom: 25px}



nav ul li a:hover { background-color:slategray}
nav li {color: gold; text-transform: uppercase; font-weight: bold}
article p,h1,h2,h3,h4,h5,h6 {color: whitesmoke;  text-transform: uppercase; font-weight: bold}
footer p {color: white; text-transform: uppercase; font-weight: bold}

.link{color: gold; text-transform: uppercase; font-weight: bold; text-decoration: underline }
article ul li {color: white;  text-transform: uppercase; font-weight: bold}
article ol li {color: white;  text-transform: uppercase; font-weight: bold}
.failproof {color: white; text-transform: uppercase; font-weight: bold}

article img {border: 2px solid; border-color: gold; padding: 1px}

#relogio p {color: whitesmoke;  text-transform: uppercase; font-weight: bold; text-align: center;}
#relogio {width: 955px; background-color:darkslategrey; border: 5px solid gold; padding: 20px; margin-bottom: 25px}



